.testimonials-container {
    background-color: #7F5DF6;
    padding: 2rem 0;
    margin: 7rem 0;
}
.testimonials-wrapper {
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}
.testimonials-heading {
    color: white;
    margin-top: 2rem;
    font-size: 2.2rem;  
    text-align: center;
}