.channel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
  }
  
  .channel-card {
    background-color: #7F5DF6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 320px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .channel-card:hover {
    transform: translateY(-10px);
  }
  
  .channel-card h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: white;
  }
  

  .channel-description {
    font-size: 0.9rem;
    padding-bottom: 5px;
    color: white;
    border-bottom: 1px solid rgba(59, 57, 57, 0.748);
  }
  
  .channel-fields p {
    margin: 20px 0;
    font-size: 0.9em;
    color: white;
  }
  .channel-container .keys {
    color: black;
    font-family: monospace;
  }
  .bold {
    font-weight: bold;
  }