.channel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .channel-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .channel-card:hover {
    transform: translateY(-10px);
  }
  
  .channel-card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
  }
  

  .channel-description {
    font-size: 0.9rem;
    color: #666666c2;
    border-bottom: 1px solid rgba(128, 128, 128, 0.462);
  }
  
  .channel-fields p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #444;
  }
  